* {
  font-family: Helvetica, sans-serif;
  text-align: center;
}

body {
  background: url('hen.png') no-repeat center top;
  background-size: 70%;
}

#question {
  color: navy ;
  padding: 50px;
  font-size: 4em;
}

button {
  border-radius: .1em;
  color: white;
  background-color: red;
  font-size: 1.5em;
}
